#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #222;
  width: 100vw;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.3em;
  font-weight: 120;
  cursor: pointer;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-right: 0.8em;
  font-size: 1.8em;
  color: #f44545;
}

header h1,
a {
  color: #f44545;
  transition: 0.2s ease-in-out;
}

header a:hover,
h1:hover {
  color: #fff;
}

td {
  height: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  table-layout: auto;
  text-align: justify;
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
  max-width: 65vw;
}

tr:hover {
  background-color: #f44545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #333;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  table-layout: fixed;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}
main figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main figure img {
  width: 350px;
  height: 350px;
  border-radius: 300px;

  margin-bottom: 6%;
  cursor: pointer;
  border: 1px #00e0ff;
  transition: 0.2s ease-in-out;
}

main figure img:hover {
  box-shadow: 0px 0px 8px #f44545;
}

main {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main-content {
  display: flex;
  flex-direction: column;
}

main .main-content h2 {
  margin-bottom: 1%;
  font-size: 1.9em;
}

main .main-content .text {
  margin-bottom: 4%;
}

main .main-content .text p {
  width: 80%;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
}

main .Icone .cards-container {
  display: flex;
  align-items: center;
}

main .Icone .cards-container .card {
  margin-top: 1.5%;
  width: 80px;
  height: 80px;
  padding: 1px;
  background-color: #a7a7a7e8;
  border-radius: 100px;
  margin-right: 0.6em;
  margin-left: 0.6em;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: box-shadow 0.25s ease-in-out;
}

main .Icone .cards-container .card img {
  width: 70%;
  margin-left: 0.6em;
}

main .Icone .cards-container .card:hover {
  box-shadow: 0px 0px 10px #f44545;
}

main .pag2 {
  display: flex;
  flex-direction: column;
}

main .pag2 h2 {
  margin-bottom: 1%;
  font-size: 1.9em;
}

main .pag2 .text1 {
  margin-bottom: 1%;
}

main .pag2 .text1 p {
  width: 100%;
  font-size: 1em;
  font-weight: 200;
  line-height: 1;
}

footer {
  background-color: #222;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  font-size: 0.8em;
  font-weight: 200;
}
