#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #222;
  width: 100vw;
  padding: 3.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.3em;
  font-weight: 1em;
  cursor: pointer;
  margin-left: 0.4em;
}

header nav {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1.6em;
}

header nav a {
  margin-right: 0.8em;
  font-size: 1.8em;
  color: #f44545;
}

header h1,
a {
  color: #f44545;
  transition: 0.2s ease-in-out;
}

header a:hover,
h1:hover {
  color: #fff;
}

td {
  height: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  table-layout: auto;
  text-align: justify;
  border: 1px solid black;
  margin-top: 0.4em;
}

th,
td {
  padding: 10px;
  text-align: left;
  max-width: 65vw;
}

tr:hover {
  background-color: #f44545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  table-layout: fixed;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #d74c4c;
  cursor: pointer;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  cursor: pointer;
  border: 1px #ffffff;
  transition: 0.2s ease-in-out;
}

figure img:hover {
  box-shadow: 0px 0px 8px #f44545;
}

article {
  padding: 2%;
  align-items: center;
  justify-content: space-between;
}

text.home h2,
p {
  width: 86%;
  font-weight: 300;
  line-height: 1.4;
  text-align: justify;
  margin-left: 5em;
}

text {
  padding: 1%;
  align-items: center;
  text-align: justify;
  margin-left: 5em;
}

.DropDown {
  border-radius: 12px;
  padding: 8px; /* Adicione um preenchimento para evitar que o texto encoste nas bordas */
  width: 250px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  margin-right: 0.8em;
}

footer {
  background-color: #222;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  font-size: 0.8em;
  font-weight: 200;
}
